@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  display: flex;
  padding: 2em 1em;
  background: #fff7ed;
}

nav img {
  width: 9rem;
}

nav .logo-link {
  margin-right: auto;
}

nav a {
  text-decoration: none;
  color: #4d4d4d;
  margin-right: 1em;
}

nav a:focus {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 3px;
}

nav a:last-child {
  margin-right: 0;
}

/* Home component */

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  padding: 4em 2em;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("../src/images/image 54.png") no-repeat center center;
  color: white;
  max-width: 760px;
}

section h1 {
  margin-bottom: 1em;
}

.link-btn {
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  margin-top: 5em;
  padding: 1em 0em;
  background: #ff8c38;
  border-radius: 0.4em;
}

/* Footer Component */

footer {
  text-align: center;
  padding: 1.5em 0;
  font-size: 0.875rem;
  background: #252525;
  color: #aaaaaa;
  font-weight: 500;
}

/* vans */
.vans {
  background: green;
}
