@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #fff7ed;
  max-width: 780px;
  margin: 0 auto;
}

.nav-container {
  background: #fff7ed;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  padding: 2em 1em;
  margin: 0 auto;
  max-width: 780px;
}

nav img {
  width: 9rem;
}

nav .logo-link {
  margin-right: auto;
}

nav a {
  text-decoration: none;
  color: #4d4d4d;
  margin-right: 1em;
}

nav a:hover {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 3px;
}

nav a:last-child {
  margin-right: 0;
}

.active-link {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: bold;
  color: #161616;
}

/* Home component */

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff7ed;
}

section {
  padding: 4em 2em;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("../src/images/image 54.png") no-repeat center center;
  color: white;
  max-width: 760px;
}

section h1 {
  margin-bottom: 1em;
}

.link-btn {
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  margin-top: 5em;
  padding: 1em 0em;
  background: #ff8c38;
  border-radius: 0.4em;
}

/* Footer Component */

footer {
  padding: 1.5em 0;
  font-size: 0.875rem;
  background: #252525;
  color: #aaaaaa;
  font-weight: 500;
  display: flex;
  flex-shrink: 0;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

/* vans */
.vans {
  padding: 1em;
  max-width: 780px;
  margin: 0 auto;
}

.vans h1 {
  margin-bottom: 1em;
}

/* vantemplate */

/* .van-tile { */
/*   border: 1px #000 solid; */
/*   padding: 0.5em; */
/*   border-radius: 5px; */
/* } */

.van-tile a {
  text-decoration: none;
  color: #161616;
}

.van-tile img {
  width: 100%;
  border-radius: 5px;
}

.van-info {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}

.van-type {
  display: inline-block;
  padding: 0.5em 1em;
  color: #4d4d4d;
  font-weight: 600;
  border-radius: 4px;
  background: #ffead0;
  text-decoration: none;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  cursor: pointer;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background: #e17654;
  color: #ffead0;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background: #115e59;
  color: #ffead0;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background: #161616;
  color: #ffead0;
}

.vans-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

/* vans filter link */

/* .filter-link { */
/*   color: #4d4d4d; */
/*   text-decoration: none; */
/*   margin-bottom: 1em; */
/*   margin-right: 1em; */
/*   display: inline-block; */
/*   background: #ffead0; */
/*   padding: 0.3em 1.2em; */
/*   border-radius: 5px; */
/* } */
/**/
/* .filter-link:hover { */
/*   text-decoration: underline; */
/*   text-underline-offset: 3px; */
/* } */

.filter-link-clear {
  color: #4d4d4d;
  text-decoration: none;
  margin-left: auto;
  display: inline-block;
  border: none;
  background: inherit;
  cursor: pointer;
}
.filter-link-clear:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* van-detail */

.van-detail {
  max-width: 780px;
  margin: 0 auto;
  padding: 1em;
}

.van-detail img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 2em;
}

.van-detail h1 {
  margin: 1em 0;
}

.van-detail h3 {
  margin-bottom: 1em;
}

.van-detail p {
  padding-bottom: 2em;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.btn-primary {
  font-family: inherit;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 0.5em 1em;
  display: inline-block;
  width: 100%;
  background: #ff8c38;
  border: none;
  border-radius: 5px;
  color: #fff;
}

/* Host */

.host-vans-container {
  max-width: 780px;
  background: #fff7ed;
  color: #161616;
}

.host-vans-container h2 {
  margin: 0 auto 1em 0;
}

.host-van {
  background: #fff;
  color: #161616;
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
  text-decoration: none;
}

.host-van img {
  max-width: 100px;
  border-radius: 5px;
}

.host-van-info {
  margin: auto auto auto 1em;
}

.host-van-info h3 {
  font-weight: 600;
  font-size: 1.25rem;
}
.host-van-info span {
  color: #4d4d4d;
  font-weight: 500;
  letter-spacing: 1px;
}

.host-van-page-container {
  margin: 0 1em;
}

.host-van-page img {
  max-width: 150px;
  border-radius: 5px;
}

.host-van-detail-page-container {
  margin-top: 1em;
  background: #fff;
  padding: 1em;
  color: #161616;
}

.host-van-page {
  display: flex;
}

.host-van-page > div {
  margin-left: 1em;
}

.host-van-page > div > span {
  font-weight: 600;
  padding: 0.5em 1em;
}

.host-van-page-container a {
  color: #161616;
  text-decoration: none;
}

/* Error page */

.error-page {
  max-width: 780px;
  padding: 0 1em;
  text-align: center;
}

.error-page-btn {
  display: block;
  width: 100%;
  background: #161616;
  color: #ffffff;
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}

/* login  */

.login-container {
  padding: 0 1em;
}

.login-email,
.login-password {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  font-family: inherit;
  border: 1px solid #d1d5db;
}

.login-email {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.login-password {
  border-radius: 0 0 5px 5px;
}

.login-btn {
  font-size: 1em;
  margin: 1em 0;
}
